<!DOCTYPE html>
<html>
     <head>
          <title>ELearning Purchase Order</title>
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta charset="charset=UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
     </head>
     <body>
          <h1>Your Elearning order is confirmed!</h1>
          <p>And we're just as excited as you are.</p>
          <h3>Order #: <%= order._id %></h3>
          <p>Order Date: "<%= order.date %>"</p>
          <p>Course Name: "<%= order.name %>"</p>
          <p>Thank you for buying the course!</p>
     </body>
</html>